# Questions 1
    List and its default functions.

In [1]:
lst = ["Hemant",123,"Navi Mumbai",3.14,True]

In [2]:
lst

['Hemant', 123, 'Navi Mumbai', 3.14, True]

In [3]:
type(lst)

list

In [4]:
lst[2]

'Navi Mumbai'

In [5]:
lst[-1]

True

In [6]:
lst[1:3]

[123, 'Navi Mumbai']

In [7]:
lst.append("Lets Upgrade")

In [8]:
lst

['Hemant', 123, 'Navi Mumbai', 3.14, True, 'Lets Upgrade']

In [11]:
lst.index("Lets Upgrade")

5

In [32]:
lst.insert(1,"Assignment")

In [33]:
lst

['Hemant', 'Assignment', 123, 'Navi Mumbai', 3.14, True, 'Lets Upgrade']

In [34]:
lst.remove(3.14)

In [35]:
lst

['Hemant', 'Assignment', 123, 'Navi Mumbai', True, 'Lets Upgrade']

In [36]:
lst.count("Lets Upgrade")

1

In [37]:
lst.reverse()

In [38]:
lst

['Lets Upgrade', True, 'Navi Mumbai', 123, 'Assignment', 'Hemant']

# Questions 2

In [39]:
#Dictionary and its default functions

In [40]:
dct = {"Name":"Hemant","Age":24,"Number":12345,"City":"Navi Mumbai"}

In [41]:
dct

{'Name': 'Hemant', 'Age': 24, 'Number': 12345, 'City': 'Navi Mumbai'}

In [42]:
type(dct)

dict

In [43]:
dct.get("Name")

'Hemant'

In [44]:
dct.items()

dict_items([('Name', 'Hemant'), ('Age', 24), ('Number', 12345), ('City', 'Navi Mumbai')])

In [45]:
dct.keys()

dict_keys(['Name', 'Age', 'Number', 'City'])

In [46]:
dct.values()

dict_values(['Hemant', 24, 12345, 'Navi Mumbai'])

In [47]:
dct.pop("Number")

12345

In [48]:
dct

{'Name': 'Hemant', 'Age': 24, 'City': 'Navi Mumbai'}

In [49]:
dct1 = {"Day":2,"Work":"Assignment"}

In [50]:
dct.update(dct1)

In [51]:
dct

{'Name': 'Hemant',
 'Age': 24,
 'City': 'Navi Mumbai',
 'Day': 2,
 'Work': 'Assignment'}

# Questions 3

In [52]:
#Sets and its default functions.

In [70]:
st = {"Hemant",123,"vashi",122333444}

In [71]:
st

{122333444, 123, 'Hemant', 'vashi'}

In [72]:
st.add("Lets Upgrade")

In [73]:
st

{122333444, 123, 'Hemant', 'Lets Upgrade', 'vashi'}

In [74]:
st.remove(123)

In [75]:
st

{122333444, 'Hemant', 'Lets Upgrade', 'vashi'}

In [76]:
st1 = {"xyz",123,"Vashi","Navi Mubai"}

In [77]:
st1

{123, 'Navi Mubai', 'Vashi', 'xyz'}

In [78]:
st.union(st1)

{122333444,
 123,
 'Hemant',
 'Lets Upgrade',
 'Navi Mubai',
 'Vashi',
 'vashi',
 'xyz'}

In [79]:
st.intersection(st1)

set()

In [80]:
st1.issubset(st)

False

In [81]:
st1.difference(st)

{123, 'Navi Mubai', 'Vashi', 'xyz'}

# Questions 4

In [82]:
#Tuple and explore default methods

In [83]:
tup = (1,"Hemant",True,"abc.in",5-4j)

In [84]:
tup

(1, 'Hemant', True, 'abc.in', (5-4j))

In [85]:
type(tup)

tuple

In [86]:
len(tup)

5

In [87]:
tup.count("abc.in")

1

In [90]:
tup.index(5-4j)

4

In [98]:
tup[4]

(5-4j)

In [101]:
tup1 = (2,"Let Upgrade")

In [102]:
tup+tup1

(1, 'Hemant', True, 'abc.in', (5-4j), 2, 'Let Upgrade')

In [103]:
tup1[0]

2

In [105]:
tup[-3]

True

# Questions 5

In [106]:
#Strings and explore default methods

In [107]:
str = "This is Hemant"

In [108]:
str1 = "Day 2 Assignment"

In [109]:
str

'This is Hemant'

In [110]:
str1

'Day 2 Assignment'

In [111]:
type(str)

str

In [112]:
type(str1)

str

In [113]:
str + str1

'This is HemantDay 2 Assignment'

In [114]:
str + " " + str1

'This is Hemant Day 2 Assignment'

In [115]:
str[0]

'T'

In [116]:
str[10]

'm'

In [117]:
str1[-1]

't'

In [118]:
str1[-8]

's'

In [119]:
len(str)

14

In [120]:
str.lower()

'this is hemant'

In [121]:
str.upper()

'THIS IS HEMANT'

In [122]:
str.replace("T","H")

'Hhis is Hemant'

In [123]:
str.count("Hemant")

1

In [125]:
str.find("Hemant")

8

In [130]:
str1.split('e')

['Day 2 Assignm', 'nt']